<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>vuln-spring Check DB</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: header">

	</div>
	<div>
		<p>
			Try the following
		</p>
		<p>
			file:secret.txt (Blocked)<br/>
			file:%2e%2fsecret%2etxt (Bingo)<br/>
		</p>
	</div>
	<form action="checkdb" method="post">
		<input type="text" name="dbpath" value="file:%2e%2fsecret.txt">
		<input type="submit" value="Check DB">
	</form>
	<p th:text="'Got response from DB:' + ${dbResponse} + '!'" />
</body>
</html>
